<!DOCTYPE html>
<html>
  <head>
    <title>My Article Collection</title>
    <style>p.indent{ padding-left: 1.8em; }</style>
  </head>

  <body>

    <h1>Article Collection: <%= @collection.name %></h1>

    <% @collection.articles.all.each.with_index(1) do |article, index| %>
      <h3><p><a href="/articles/<%= article.id %>"><%= article.name %></a></p></h3>
      <p class="indent"><strong>Year: </strong><%= article.year %></p>
      <p class="indent"><strong>Author: </strong><%= article.author.name %></p>
      <p class="indent"><strong>Journal: </strong><%= article.journal.name %></p>
      <br>
    <% end %>
    <br>
    <% if logged_in? %>
      <% if current_user == @collection %>
        <h2><a href="/articles/new">Add Articles to Your Collection</a></h2>
      <% end %>
    <% end %>
    <br>
    <h2><a href="/index">View Other Collections</a></h2>
    <br>
    <h2><a href="/logout">Log Out</a></h2>

  </body>
</html
