<!DOCTYPE html>
<html>
  <head>
    <title>All Articles</title>
    <style>
    p.indent{ padding-left: 1.8em; }
    p.indent_more{ padding-left: 3.6em; }
    </style>
  </head>

  <body>

    <h1>Articles</h1>

    <% Article.all.each.with_index(1) do |article, index| %>
      <h3><p><%= index %>: <a href="/articles/<%= article.slug %>"><%= article.name %></a></p></h3>
      <p class="indent"><strong>Year: </strong><%= article.year %></p>
      <p class="indent"><strong>Author: </strong><a href="/authors/<%= article.author.slug %>"><%= article.author.name %></a></p>
      <p class="indent"><strong>Journal: </strong><a href="/journals/<%= article.journal.slug %>"><%= article.journal.name %></a></p>
      <p class="indent"><strong>Collections Having this Article:
      <% article.collections.each.with_index(1) do |collection, index| %>
        <p class="indent_more"><a href="/collections/<%= collection.slug %>"><%= collection.name %></a></p>
      <% end %>
    <% end %>
    <br>
    <br>
    <h2><a href="/index">Main Index</a></h2>
    <br>
    <% if logged_in? %>
      <h2><a href="/articles/new">Add Articles to Your Collection</a></h2>
      <br>
      <h2><a href="/collections/<%= current_user.slug %>">View Your Collection</a></h2>
      <br>
      <h2><a href="/logout">Log Out</a></h2>
    <% else %>
      <h2><a href="/">Log In or Create Account For More Options</a></h2>
    <% end %>
  </body>
</html
