<!DOCTYPE html>
<html>
  <head>
    <title>Add Article to Collection</title>
    <style>p.indent{ padding-left: 1.8em; }</style>
  </head>

  <body>

    <h1>Choose an Article to Add to Your Collection</h1>
    <% Article.all.each do |article| %>
      <% unless current_user.articles.include?(article) %>
       <h2><a href="/articles/<%= article.slug %>/edit"><%= article.name %></a> (<%= article.author.name %>, <i><%= article.journal.name %></i>, <%= article.year %>)</h2>
      <% end %>
    <% end %>
    <br>
    <h1>Or Enter a New Article</h1>

    <form action="/articles" method="POST">
      <h2><label>Title: <input type="text" name="article[name]" id="article_name"></label><h2>
      <h2><label>Year: <input type="integer" name="article[year]" id="article_year"></label><h2>
      <h2><label>Choose an Author:</label></h2>
        <% Author.all.each do |author| %>
          <p class="indent"><input type="radio" name="author[name]" id=<% author.id %> value=<% author.id %>><%= author.name %></input></p>
        <% end %>
      <h2><label>Or Enter a New Author:</label></h2>
      <p class="indent"><label><strong>First Name:</strong> <input type="text" name="author_first_name" id="author.id"></input></label>
      <p class="indent"><label><strong>Last Name:</strong> <input type="text" name="author_last_name" id="author.id"></input></label>
      <br>
      <h2><label>Choose a Journal:</label></h2>
        <% Journal.all.each do |journal| %>
          <p class="indent"><input type="radio" name="journal_name" id=<% journal.id %> value=<% journal.id %>><%= journal.name %></input></p>
        <% end %>
      <h2><label>Or Enter a New Journal:</label></h2>
      <p class="indent"><label><strong>Journal Name:</strong> <input type="text" name="journal_name" id="journal.id"></input></label>
      <br>
      <p><button type="submit" value="submit">Submit</button>

    </form>

  </body>
</html
