<!DOCTYPE html>
<html>
  <head>
    <title>All Authors</title>
    <style>p.indent{ padding-left: 1.8em; }</style>
  </head>

  <body>

    <h1>Authors</h1>

    <% Author.all.each.with_index(1) do |author, index| %>
      <h2><p><%= index %>: <a href="/authors/<%= author.slug %>"><%= author.name %></a></p></h2>
      <h2><p>Author's Articles:</p></h2>
      <% author.articles.all.each do |article| %>
        <h3><p class="indent"><a href="/articles/<%= article.slug %>"><%= article.name %></a></p></h3>
        <h3><p class="indent"><strong>Year: </strong><%= article.year %></p></h3>
        <h3><p class="indent"><strong>Journal: </strong><a href="/journals/<%= article.journal.slug %>"><%= article.journal.name %></a></p></h3>
        <br>
      <% end %>
      <br>
    <% end %>
    <h2><a href="/authors/new">Add a New Author</a></h2>
    <br>
    <h2><a href="/index">Main Index</a></h2>
    <br>
    <% if logged_in? %>
      <h2><a href="/collections/<%= current_user.slug %>">View Your Collection</a></h2>
      <br>
      <h2><a href="/logout">Log Out</a></h2>
    <% else %>
      <h2><a href="/">Log In or Create Account For More Options</a></h2>
    <% end %>
  </body>
</html
